.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 250px;
    background-color: #040224;
    box-shadow: 0 0 5px rgba(54, 52, 52, 0.3);
}


.container {
    border-radius: 30px;
    background: #ffffff;
    position: relative;
    height: 180px;
    border-width: 1px;
    border-style: none;
    top: 60px;
    width: 100%;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    max-width: 70%;
}

.inputBusca {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;

}

.inputBusca input {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    border: 1px solid #cccccc;
    padding-left: 20px;

}

.inputBusca button {
    height: 50px;
    border-radius: 20px;
    width: 80px;
    border: none;
    color: #fff;
    font-weight: 700;
    background-color: #040224;
    cursor: pointer;
    margin-left: 8px;
}
.inputBusca button:hover {    
    background-color: #027cf7;
  
}

.texto {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.texto p {    
    text-align: center;
    font-size: 18px;
}
.inputAuxiliar  {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.inputAuxiliar a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 20px;
    width: 200px;
    border: none;
    color: #fff;
    font-weight: 700;
    background-color: #027cf7;
    cursor: pointer;
    text-decoration: none;
}
.inputAuxiliar a:hover {
    
    background-color: #120f3f;
   
}
